$white: #ffff;
$black: #000000;
$primary-color: #fc5252;
$secondary-color: #1c4d73;
$gray-50: #f8f9fb;
$gray-100: #e6e6e8;
$gray-700: #303030;
$gray-800: #141414;
$font-family: 'Neue Haas Grotesk Text Pro', 'Arial', sans-serif;
